* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

div {
  padding: 10px;
}

@media (max-width: 768px) {
  div {
    flex-direction: column;
    width: 100%;
  }
}